body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #f2f2f2;
}

th, td {
    text-align: center;
    padding: 10px;
}